//fonts sizes
$small: 24px;
$standard: 32px;
$large: 72px;
$maximum: 250px;

//colors
$white: #fff;
$white-semi-gray: #f8f8f8;
$black: #161515;
$black-semi-gray: #272727;
$gray: #707070;
$brown: #bb8b5d;
