@import "./variables";
@import "./mixins";
@import "./components/header";
@import "./components/buy-block";
@import "./components/main";
@import "./components/watch-card";

* {
  padding: 0;
  margin: 0px;
  font-weight: normal;
  font-family: "League Spartan", sans-serif;
  box-sizing: border-box;
  font-size: $standard;
}
