* {
  margin: 0px;
  font-family: "League Spartan", sans-serif;
  box-sizing: border-box;
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
}
.buy-block {
  display: flex;
}
.header {
  display: flex;
  background-color: #f8f8f8;

  &_clock-model {
    font-size: 24px;
  }
  &_main-word {
    font-size: 250px;
  }
  &_info-about-clock {
    font-size: 32px;
  }
  &_link-buy {
    font-size: 32px;
  }
  &_price {
    font-size: 32px;
  }
  &_model-picture {
    width: 408px;
    height: 720px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_clock-picture {
    width: 420px;
    height: 630px;
    background-color: beige;
  }
}
